@CHARSET "UTF-8";

* { padding:0; margin:0;}
html { overflow-x: hidden;}
body { font-size: 12px; font-family: "微软雅黑",Tahoma,Arial; background:#F58B4D url(http://mat1.gtimg.com/cd/2011/weibo/100/bg.jpg) repeat-x; color:#666;}

a {  color:#F3446C; text-decoration: none; }
a:hover { text-decoration: underline; color:#F3446C; }
ul, li { list-style: none; }

.hide { display:none; }

.wrap { background: url(../images/bg2.jpg) no-repeat left top; width:1024px; height: 746px; margin: 0 auto;}
.block { height:600px; width:675px; padding:132px 0 0 178px;}
.input { line-height: 34px; height: 34px; text-align: right; padding:8px 4px 0; font-size:16px; color:#F3446C; padding-right:15px; }
.input input { border:2px solid #EA6E89; padding:5px; width:150px; vertical-align: middle; margin-right: 5px; }
.input button { border: none; background: url(http://mat1.gtimg.com/cd/2011/weibo/100/btn-sure.jpg) no-repeat; width:84px; height:34px; vertical-align: middle; }

.box { padding:10px 0 5px 10px; height:340px; }
.box li { float:left; width:54px; height:74px; text-align: center; margin: 1px 9px; overflow: hidden; }
.box li img { border:1px solid #CCC; padding:1px;}
.box li p { line-height: 20px; }

.intro { padding:110px 20px 0 60px; line-height: 18px; color:#FFFFC3; font-size: 14px; }

.my { width:707px; margin: -35px 0 0 160px; }
.my .hd { height:23px; background: url(http://mat1.gtimg.com/cd/2011/weibo/100/mypost.png) no-repeat left top; font-size:16px; font-weight:bold; color:#F3446C; padding:20px 0 0 25px; }
.my .bd { background: url(http://mat1.gtimg.com/cd/2011/weibo/100/mypost.png) repeat-y center; padding:10px 30px 0; }
.my .ft { height:43px; line-height:30px; background: url(http://mat1.gtimg.com/cd/2011/weibo/100/mypost.png) no-repeat right bottom; padding:0 30px; text-align: right; }

.msg { padding: 8px 0 5px; border-bottom: 1px dashed #CCC; position: relative; min-height:60px; clear:both; }
.msg .head { float:left; margin-right: 10px; width:54px; height:54px; }
.msg .head img { border:1px solid #CCC; padding:1px; }
.msg .p { font-size: 14px; line-height: 20px; }
.msg .p .cc { color:#999; font-size: 12px; line-height: 18px; height: 18px; padding:4px 0; }
.msg .i { position: absolute; left:320px; top:10px; width:72px; font-size: 20px; }

.cl { clear: both; }

#layer{ position:fixed; _position:absolute; width:390px; top:100px; border:2px solid #EA6E89; background:#FFF url(http://mat1.gtimg.com/cd/2011/weibo/100/layerbg.jpg) repeat-x top; left:250px; z-index:100; padding:15px; display: none;}
#layer h2 { color:#F3446C; line-height: 20px; font-size: 14px; padding:0 10px 10px;}
#layer .ta { text-align: center;}
#layer .ta textarea { width:348px; height:82px; background: url(http://mat1.gtimg.com/cd/2011/weibo/100/textareabg.jpg) no-repeat; padding:5px; color:#999; border:1px solid #CFCBCB; overflow: auto; font-family: Tahoma,Arial; font-size:14px; }
#layer .sub { padding:10px 0; text-align: center; height:33px;}
#layer .sub input{ background: url(http://mat1.gtimg.com/cd/2011/weibo/100/btn-post.jpg) no-repeat; border: none; width:83px; height:33px; margin: 0 10px; cursor: pointer; }
#layer .sub input.cancel { background: url(http://mat1.gtimg.com/cd/2011/weibo/100/btn-quit.jpg) no-repeat; }
#layer .tip { height:30px; color:#DDD; font-size: 12px; text-align: right; padding-right:15px; font-family: Tahoma,Arial; }
#layer .tip .num { font-size: 20px; }
#layer a { color:#F3446C; }
#layer .i { font-size: 14px; line-height: 24px; font-family: Tahoma,Arial; }
#layer .i a { text-decoration: underline; }
#layer .c { text-align: center;}

.info { text-align: center; font-size: 14px; font-weight: bold; color:#FFE8C2; padding:10px 0 10px;}

.footernew { width:960px; color:#FFE8C2; text-align:center;font-size:12px;line-height:24px; margin:10px auto 0; padding-top:30px; clear:both;}
.footernew a {color:#FFE8C2;text-decoration:none;}
.footernew a.lchot {color:#bd0a01;}
.footernew a:hover {color:#FFE8C2; text-decoration:underline;}
.footernew div{width:546px; margin:0 auto;}
.footernew p{float:left;width:120px;height:50px;border:1px solid #d2d2d2;padding:0;line-height:20px; margin:6px;font-size:12px;}
.footernew .fl{float:left;padding:3px;}
.footernew .fr{float:right; width:72px;padding:5px 3px 0 3px;}